.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
}

.board {
  min-height: 100vh;
  display: flex;
  /* flex-direction: column */
  align-items: center;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 50px;
}

.App-link {
  color: #09d3ac;
}
.nav-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  border: 1px solid red;
  font-size: 3rem;

}
.nav-item {
  margin: 10px 150px;
  justify-content: space-between;
  text-decoration: none;
}

section   {
  border: 1px solid red;
  padding: 17px; 
}
section:hover {
  border: 3px solid crimson;
}
.completed {
  background-color: crimson;
}